    <a class="list-group-item list-group-item-action flex-column align-items-start" data-toggle="collapse" href="#collapse<%=mid%>" role="button" aria-expanded="false" aria-controls="collapse<%=mid%>">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"> MAC: <%=mac%></h5>
          <small><%=cnt%> advertising datas</small>
        </div>
        <p class="mb-1">MessageID: <%=mid%> IP: <%=ip%> Firmware: <%=v%> Time: <%=time%></p>

        <div class="collapse" id="collapse<%=mid%>">
          <div class="card card-body text-dark">
            <% devices.forEach(function(d){ %>
                <p><%=d%></p>
            <% }) %>
          </div>
        </div>
    </a>

